@import "mixins.styl"

body.about
  
  // Шапка
  &>header
    max-width 43rem
    margin 0 auto 2.4rem
    padding 1rem 2.10526rem 0
    h1
      position relative
              
    nav
      position relative
      margin 0 0 1rem
      font-size .8rem 
      a
        color #000
        margin 0 .5rem 0 0
        &:hover
          text-decoration none
      .fm
        margin 0 0 0 -1rem 
        &:before
          content "←"
          display inline-block
          width 1rem
          text-align right
          margin 0 .25rem 0 0
          text-decoration none
      .heap
        float right
        margin 0 -1rem 0 0
        &:after
          content "→"
          display inline-block
          width 1rem
          text-align right
          margin 0 .25rem 0 0
          text-decoration none
  
  .inner-navigation
    display block
    clear-after()
    font-size 0.777rem
    margin 0 0 1.47rem
    a 
      text-decoration none
      color #000 
      float left
      clear left
      span
        border-bottom 1px dotted #000 
        &:hover
          border-bottom-style none
    nav
      display block
      padding 0 0 0 2rem
      clear-after()
      margin 0 0 0.735rem

  .bookmarklet-tip
    font-family Helvetica, Arial, sans-serif
    position fixed
    top -3rem
    left 0
    right 0
    padding 0 2rem 0 3rem
    height 2.105263rem
    line-height 2.105263rem
    background-color #0BA5B7
    color #FFF 
    font-size .666rem 
    transition top .25s .5s
    z-index 10 
    &.open
      top 0
      transition top .25s
    &:before
      icon()
      width 1rem
      text-align center
      margin 0 
      content '\e808'
      position absolute
      font-size 1.2rem
      left 1rem
  .bookmarklets
    clear-after()
    .anonymous
      padding 0 1rem 0 0 
    .identified
      position relative
      .locked
        position absolute
        top -.1rem
        left -.1rem
        bottom -.1rem
        right -.1rem
        background-color rgba(255,255,255,.75)
        text-decoration none
        color #000 
        z-index 1
        &:hover:after
          color #0BA5B7 
        &:after
          icon()
          content "\e804"
          font-size 3rem
          width 3rem
          height 3rem
          line-height 3rem
          vertical-align middle
          text-align center
          position absolute
          top 0
          bottom 0
          left 0
          right 0
          margin auto
    .anonymous,
    .identified
      float left
      width 50%
      box-sizing border-box
      p
        margin-top 0

  .bookmarklet
    font-family Helvetica, Arial, sans-serif
    display inline-block
    vertical-align middle
    padding 0 1rem 
    margin 0 .5rem 0 0 
    height 2.105263rem
    line-height 2.105263rem
    background-color #0BA5B7
    color #fff
    text-decoration none
    font-size .666rem
    &:hover
      background-color darken(#0BA5B7, 15%) 
  
  article
    section
      margin 2.4rem 0
    .contact-us
      position relative
      margin -1.2rem auto 0 
      background-color #fff
      &.contact-err
        .error.contact-required
          display inline-block
      &.email-err
        .error.wrong-email 
          display inline-block
      nav
        margin 1.2rem 0 0 
        .error
          display none
          vertical-align top
          color #f00
          font-family Helvetica, Arial, sans-serif
          font-size .666rem  
          padding 0 0 0 1rem
          line-height 1.0526315rem
        button
          clear-button()
          white-space nowrap
          display inline-block
          height 2.105263rem
          font-size .777rem
          box-sizing border-box
          padding 0 1rem 
          min-width 20%
          color #fff
          cursor pointer
          background-color #0BA5B7
          &:hover
            background-color darken(#0BA5B7, 15%) 
      .role
        position relative
        clear both
        // overflow hidden
        height 1.618rem
        padding-top 1.618rem
        border-bottom 1px solid #0ba5b7
        span
          white-space nowrap
          position absolute
          top 0
          left 0
          right 0
          
          font-size .611rem
          line-height 1.618rem
          color rgb(169, 169, 169)
          
          z-index 1
        input
          position absolute
          left -9999px
        input:focus~span
          color #0ba5b7
        input:checked+label
          color #000
          border-bottom-style none
          cursor default
          pointer-events none 
           
        label
          color #999 
          float left
          width 50%
          box-sizing border-box
          line-height 1.618rem
          font-size .666rem 
          &:hover
            color #000
            cursor pointer
      label.message
        clear both
        position relative
        display block
        width 100%
        height auto
        border-bottom-style none
        padding 2.118rem 0 .5rem
      label.input
        float left
        overflow hidden
        height 3.216263rem
        width 33%
        border-bottom 1px solid #0ba5b7
        padding-top 1.111rem
        position relative
        box-sizing border-box
        &:first-child
          width 34% 
          span
            left 0
          input
            padding-left 0
      label
        span
          white-space nowrap
          position absolute
          top 0
          left 1rem
          right 0
          
          font-size .611rem
          line-height 1.618rem
          color rgb(169, 169, 169)
          
          z-index 1
          opacity 0
          transition opacity .25s
          
        textarea
          clear both
          width 100%
          height 1.618rem
          line-height  1.618rem
          font-size .9rem
          margin 0
          display block
          padding 0
          border-style none
          box-sizing border-box
          resize none
          transform translateZ(0)
          &+span
            left 0
            line-height 2.118rem
          &:focus + span
              color #0ba5b7
          &.non-empty + span
            opacity 1
            z-index 2

        input
          clear-input()
          position absolute
          bottom 0
          left 0
          right 0
          width 100%
          z-index 2
          font-size .9rem
          padding-left 1rem 
          &:focus + span
            color #0ba5b7
          &.non-empty + span
            opacity 1
            z-index 2
            
          
        