@import "mixins.styl"



.edit-article-form
  position relative
  margin auto
  background-color #fff
  z-index 5
  &.changed
    fieldset
      button
        &.reset
          display block
          opacity 1
        &.save
          background-color #0BA5B7
          cursor pointer
          &:hover
            background-color darken(#0BA5B7, 15%) 
  fieldset
    max-width: 43rem
    margin 0 auto 2rem
    button
      clear-button()
      white-space nowrap
      display block
      height 2.105263rem 
      font-size .777rem
      box-sizing border-box
      padding 0 1rem 
      min-width 20%
      color #fff
      cursor pointer
      float right
      &.close
        float left
        background-color #f00
        &:hover
          background-color #c00
      &.save
        transition background-color .3s
        background-color #d5d5d5
        cursor default 
        &:hover
          background-color #d5d5d5
      &.reset
        display none
        opacity 0
        transition opacity .3s
        float left
        background-color #ffc000
        &:hover
          background-color #ff9600
    .two-in-row
      overflow hidden
      position relative
      label
        float left
        width 50%
        &:first-child
          input
            padding-right 1rem
    .open-calendar
      position absolute
      cursor pointer
      z-index 2
      right 0
      bottom 1px
      height 1.618rem 
      font-size .9rem
      line-height  1.618rem 
      width 2rem
      vertical-align middle
      display block
      text-align right
      &:hover
        color #0BA5B7 
      &:before
        icon()
        vertical-align middle
        content: '\e80a';
    label
      display block
      overflow hidden
      height 3.216263rem
      width 100%
      border-bottom 1px solid #0ba5b7
      padding-top 1.111rem
      position relative
      box-sizing border-box
          
      span
        position absolute
        top 0
        left 0
        right 0
        
        font-size .611rem
        line-height 1.6rem
        color rgb(169, 169, 169)
        
        z-index 1
        opacity 0
        transition opacity .25s
        
      input
        clear-input()
        position absolute
        bottom 0
        left 0
        right 0
        width 100%
        z-index 2
        font-size .9rem
        &:focus~span
          color #0ba5b7
        &:valid~span
          opacity 1
          z-index 2
          