@import "mixins.styl"

body
  
  &>.page
      
    //Пагинатор
    .paginator
      font-family Helvetica, Arial, sans-serif
      margin 0 0 1rem
      float right 
      font-size 1.8rem
      line-height 3rem
      height 3rem
      &:hover .current
        background-color #F0F0F0 
      .total,
      .separator
        font-weight 100 
      .current
        -moz-user-select none
        -webkit-user-select none
        -ms-user-select none
        user-select none
        font-weight 100 
        cursor pointer
        outline none
        &:focus,
        &:hover
          background-color #F0F0F0 
      .title
        display inline
        font-size 0.777rem
        
    // Кнопочка «Загрузить еще статей»
    .more
      font-family Helvetica, Arial, sans-serif
      float left
      position relative
      background-color #0ba5b7
      color #FFF
      height 3rem
      font-size .777rem
      padding 0 1rem
      margin 0 0 1rem 
      line-height 3rem
      min-width 5rem 
      cursor pointer
      overflow visible
      white-space nowrap
      text-decoration none
      &.loading:hover,
      &.loading
        color lighten(#0ba5b7,93%)
        cursor default
        text-align center
        background-color lighten(#0ba5b7,93%)
        .title
          display none
        .sign
          margin auto
          width 3rem
          height 3rem
          display inline-block
          &:after
            icon()
            content  '\e805'
            width 3rem
            height 3rem
            vertical-align middle
            text-align center
            color #0ba5b7
            line-height 3rem
        &:before
          border-color lighten(#0ba5b7,93%) transparent transparent
          
      &:before
        content "."
        overflow hidden
        display block
        position absolute
        top 100%
        left .5rem
        margin auto
        height 0
        width 0
        border-width .5rem .5rem 0 0
        border-color #0ba5b7 transparent transparent
        border-style solid solid none
      &:hover
        background-color darken(#0ba5b7,20%)
        &:before
          border-color darken(#0ba5b7,20%) transparent transparent

  // Футер
  &>footer
    font-family Helvetica, Arial, sans-serif
    max-width: 43rem;
    margin 2rem auto
    padding: 1rem 2.10526rem 0;
    border-top 1px dotted #000
    font-size 0
    line-height 0
    .copyright
      display block
      font-size 0.68rem
      line-height 1.618rem
      margin 2rem 0
    .title
      margin-top -1.618rem
      line-height 1.618rem
      font-size .5rem
    .language
      .title 
        &:before
          icon()
          content "\e800"
    a
      color #000
      &:focus,
      &:hover
        color #0ba5b7
    nav
      vertical-align top
      display inline-block
      min-width 30%
      padding 0 1rem 0 0 
      font-size 0.666rem
      line-height 1.618rem
      overflow hidden
      position relative
      box-sizing border-box 
      &.сontacts
        a
          &:before
            icon()
            text-decoration none
            margin 0 .25rem 0 0 
            color #000
      section
        margin 0 0 1.618rem
        clear-after()
      a
        float left
        white-space nowrap
        clear left
        &.rss
          &:before
            content '\e818'
        &.twitter
          &:before
            content '\e815'
        &.github
          &:before
            content '\e80f'