@import "mixins.styl"

body
  // Футер
  &>footer
    font-family Helvetica, Arial, sans-serif
    max-width: 43rem;
    margin 2rem auto
    padding: 1rem 2.10526rem 0;
    border-top 1px dotted #000
    font-size 0
    line-height 0
    .copyright
      display block
      font-size 0.68rem
      line-height 1.618rem
      margin 2rem 0
    .title
      margin-top -1.618rem
      line-height 1.618rem
      font-size .5rem
    .language
      .title 
        &:before
          icon()
          content "\e800"
    a
      color #000
      &:focus,
      &:hover
        color #0ba5b7
    nav
      vertical-align top
      display inline-block
      min-width 30%
      padding 0 1rem 0 0 
      font-size 0.666rem
      line-height 1.618rem
      overflow hidden
      position relative
      box-sizing border-box 
      &.сontacts
        a
          &:before
            icon()
            text-decoration none
            margin 0 .25rem 0 0 
            color #000
      section
        margin 0 0 1.618rem
        clear-after()
      a
        float left
        white-space nowrap
        clear left
        &.rss
          &:before
            content '\e818'
        &.twitter
          &:before
            content '\e815'
        &.github
          &:before
            content '\e80f'