@import "animations.styl"
@import "mixins.styl"

// Стили уникальные для Кучи
body.heap
  position relative
  
  a
    color #000 
  
  // Шапка
  &>header
    max-width 43rem
    margin 0 auto
    padding 1rem 2.10526rem 0
    h1
      position relative
              
    nav
      position relative
      margin 0 0 1rem
      font-size .8rem 
      a
        margin 0 .5rem 0 0
        &:hover
          text-decoration none
      .fm
        margin 0 0 0 -1rem 
        &:before
          content "←"
          display inline-block
          width 1rem
          text-align right
          margin 0 .25rem 0 0
          text-decoration none
      .login
        float right 
        margin 0
        position relative
        &:before
          icon()
          margin 0 .25rem 0 0
          text-decoration none 
          content '\e80f'
          

  .config
    font-family Helvetica, Arial, sans-serif
    position relative
    max-width 43rem
    padding 0 2.105263rem
    height 2.105263rem
    margin 4rem auto 3rem
    
    .add-article
      margin 0 
      cursor pointer
      display inline
      position relative
      top 1px
      border-bottom 1px dotted #666
      text-decoration none
      font-size .666rem 
      &.open
        display none
      &:hover
        color #0ba5b7
        border-bottom-color #0ba5b7
    
    .filter
      display inline-block
      margin 0 .5rem
      float right
      height 2.105263rem
      cursor pointer
      position relative  
          
      span
        font-size .666rem
        border-bottom 1px dotted #666
        overflow hidden
        position relative
        top 1px
        &:hover
          color #0ba5b7
          border-bottom-color #0ba5b7
      
      &.selected
        background-color #0BA5B7
        padding 0 .5rem 
        margin 0 
        &:before
          content "."
          height 0
          width 0
          display block
          overflow hidden
          font-size 0
          line-height 0
          border-style solid
          border-color #0ba5b7 transparent transparent
          border-width .35rem .35rem 0
          position absolute
          top 100%
          left 50%
          margin 0 0 0 -.35rem 
        &:hover
          background-color darken(#0BA5B7,20%)
          &:before
            border-color darken(#0BA5B7,20%) transparent transparent
          span
            border-bottom-color darken(#0BA5B7,20%)
        span
          color #FFF
          border-bottom-color #0BA5B7


  // Блок статьи
  article
    box-sizing border-box
    width 100%
    position relative
    margin 3rem 0
    padding 0
    font-size 0.777rem
    line-height 1.257186rem 
    font-family Helvetica, Arial, sans-serif
    
    a
      text-decoration none
    
    &:first-child
      margin-top 0
      
    &.translated
      header
        .likes,
        .likes:hover
          color #000
          animation none
          cursor default
          &:before
            font-weight 200
            color #000
            content "\e81f"
            pointer-events none
        
    // Шапка
    header
      position relative
      
      // Заголовок статьи
      .title
        color #0BA5B7
        line-height 2.4rem
        font-size 1.8rem
        margin 0 0 .2rem
        font-family Georgia, Palatino, Times, 'Times New Roman', serif
        a
          border-bottom 1px solid #0BA5B7
          color #0BA5B7
          &:hover
            border-bottom-style none
            text-decoration none
      
      // Дата первой публикации
      time
        white-space nowrap
        margin 0 1rem 0 0
        display inline-block
       
      // Пожертвования
      .donate
        position relative
        float left
        z-index 2
        right 0
        top 0
        margin .6rem .5rem 0 .6rem
        width 2.4rem
        height 2.4rem
        line-height 2.4rem
        text-align center
        display block
        color #000 
        font-size .666
        transition transform .25s
        transform scale(1)
        &:hover
          &:before
            color #c00 
        &:before
          icon()
          color #000
          font-size 1.6rem
          content "\e802"
          position absolute
          top .05rem
          left 0
          z-index -1
          width 2.4rem
          height 2.4rem
          display block
          text-align center
          vertical-align middle

      // Лайки
      .likes        
        position relative
        float left
        z-index 1
        right 0
        top 0

        margin .6rem .5rem 0 .6rem
        width 2.4rem
        height 2.4rem
        line-height 2.4rem
        text-align center
        display block
        color #000 
        font-size 0.666rem
        transform translateZ(0)
        
        &:hover
          animation hart .4s 1 linear
          color #fff
          &:before
            color #d00
        &.liked
          color #fff
          &:hover
            animation hart-broken .4s 1 linear
            color #000
            &:before
              color #e8e8e8   
          &:before
            content "\e81e"
            color #d00
        &:before
          icon()
          color #e8e8e8
          font-size 2rem
          content "\e81e"
          position absolute
          top .05rem
          left 0
          z-index -1
          width 2.4rem
          height 2.4rem
          display block
          text-align center
          vertical-align middle
            
      // Автор статьи
      .author
        display inline-block
        white-space nowrap
        margin 0 1rem 0 0
    
    // То, по чему можно фильтровать
    .filter
      overflow hidden
      a
        display inline
        border-bottom 1px dotted #666 
        &:hover 
          border-bottom-color #0ba5b7 
        
      // Язык оригинала и переводы
      .language
        display inline
        margin 0 1rem 0 0
          
      // Доменное имя
      .domain
        display inline
        white-space nowrap
        margin 0 1rem 0 0

      // Теги
      .tags
        display inline
        a
          white-space nowrap
    
    // Меню доступное пользователям
    .user-menu
      display inline
      a
        display inline
        margin 0 1rem 0 0
        white-space nowrap
        border-bottom 1px dotted #666 
        &:hover 
          border-bottom-color #0ba5b7 
        &.hide-list
          display none

    // Меню доступное членам редакции
    &:hover
      .editor-menu
        opacity 1
    .editor-menu
      opacity 0
      transition opacity .25s
      transform translateZ(0)
      position absolute
      left 0
      right 0
      bottom 100%
      .translate-trigger
        display inline-block
        position relative
        vertical-align middle
        height .8333rem
        width 1.66rem
        background-color #f0f0f0
        border-radius .42rem
        &:before
          icon()
          color #000 
          position absolute
          left 0
          bottom 0
          top 0
          z-index 2
          line-height .9rem
          height .9rem
          width .9rem
          font-size .6rem 
          text-align center
          content '\e811'
        &:after
          icon()
          color #000 
          position absolute
          right 0
          bottom 0
          top 0
          z-index 2
          line-height .9rem
          height .9rem
          width .9rem
          font-size .6rem 
          text-align center
          content '\e812'
      a
        display inline-block
        white-space nowrap
        &:hover
          &:before
            color #0ba5b7
        &:before
          icon()
          width 1.4rem
          line-height 1.4rem
          text-align left
          margin 0
          text-decoration none
          color #000
          vertical-align middle
        &.translate
          &:before
            content "\e81d"
          &.my:hover:before
            color #000 
          &.my:before
            color #0ba5b7
        &.edit
          &:before
            content "\e821"
        &.remove
          &:before
            content "\e806"
            
    // Cписок переводов
    .translations
      clear both
      // display none
      display block
      padding-top 0.5rem
      th
        text-align left
        padding 0 1rem 0 0 
        font-style italic
      .domain
        padding 0 1rem 0 0
        font-size 0.666rem
      a
        text-decoration underline
        font-family Georgia, Palatino, Times, 'Times New Roman', serif
        color #0BA5B7 
        &:hover
          text-decoration none
  
  //Пагинатор
  .paginator
    font-family Helvetica, Arial, sans-serif
    margin 0 0 1rem
    float right 
    font-size 1.8rem
    line-height 3rem
    height 3rem
    &:hover .current
      background-color #F0F0F0 
    .total,
    .separator
      font-weight 100 
    .current
      -moz-user-select none
      -webkit-user-select none
      -ms-user-select none
      user-select none
      font-weight 100 
      cursor pointer
      outline none
      &:focus,
      &:hover
        background-color #F0F0F0 
    .title
      display inline
      font-size 0.777rem
      
  // Кнопочка «Загрузить еще статей»
  .more
    font-family Helvetica, Arial, sans-serif
    float left
    position relative
    background-color #0ba5b7
    color #FFF
    height 3rem
    font-size .777rem
    padding 0 1rem
    margin 0 0 1rem 
    line-height 3rem
    min-width 5rem 
    cursor pointer
    overflow visible
    white-space nowrap
    text-decoration none
    &.loading:hover,
    &.loading
      color lighten(#0ba5b7,93%)
      cursor default
      text-align center
      background-color lighten(#0ba5b7,93%)
      .title
        display none
      .sign
        margin auto
        width 3rem
        height 3rem
        display inline-block
        &:after
          icon()
          content  '\e805'
          width 3rem
          height 3rem
          vertical-align middle
          text-align center
          color #0ba5b7
          line-height 3rem
      &:before
        border-color lighten(#0ba5b7,93%) transparent transparent
        
    &:before
      content "."
      overflow hidden
      display block
      position absolute
      top 100%
      left .5rem
      margin auto
      height 0
      width 0
      border-width .5rem .5rem 0 0
      border-color #0ba5b7 transparent transparent
      border-style solid solid none
    &:hover
      background-color darken(#0ba5b7,20%)
      &:before
        border-color darken(#0ba5b7,20%) transparent transparent
             
@media screen and (min-width: 58rem)
  body.heap
    article
      header
        .donate
          top 2.4rem 
        .donate,
        .likes
          margin 0 .5rem 0 0
          position absolute
          right 100%
          float none

@media screen and (max-width: 45rem)
  html:root
    font-size 16px
  body.heap
    .paginator
      float none
      display block
      text-align center
      margin 2rem 0 2rem
      
    .more
      float none
      margin 0 0 0 -2.10526rem
      padding 0 2.10526rem;
      height 6rem
      line-height 6rem
      text-align center
      width 100%
      &:before
        display none
    .config
      .add-article
        display none
    .page-list,
    form
      display none
    &>footer
      margin-top 0
      border-top-style none
      nav
        width 100%
        margin 0 0 1rem 
    article
      padding-left 0
      .translations
        display block !important
        .language
          width auto
          text-align left
      header
        .donate,
        .likes
          margin 0 .5rem 0 0
        .title
        .tags
          display block
      .user-menu,
      .editor-menu
        display none
    