@import "animations.styl"
@import "mixins.styl"

// Стили уникальные для Кучи
body.heap
  position relative
  
  &>.page
    max-width 43rem
    margin 0 auto
    padding 1rem 2.10526rem 0
  
  // Шапка
  &>header
    max-width 43rem
    margin 0 auto
    padding 1rem 2.10526rem 0
    h1
      position relative
      margin-left 70px
      &:before
        content "."
        font-size 0
        line-height 0
        overflow hidden
        text-indent -9999px
        display block
        position absolute
        top -5px
        left -70px
        width 64px
        height 64px 
        background url('../img/logo.png') no-repeat
        background-size contain
        
    nav
      position relative
      overflow hidden
      margin 0 0 1rem
      font-size .8rem 
      a
        margin 0 .5rem 0 0
      .filter
        position relative
        float left
      .login
        float right 
        margin 0
        position relative
        &:before
          icon()
          position absolute
          right 100%
          top 0
          width 1rem
          text-decoration none
          padding 0
          margin 0 0 0 1rem 
          content '\e80f'
          

  .config
    position relative
    max-width 43rem
    padding 0 2.10526rem
    margin 4rem auto 3rem
    .add-article
      border-bottom 1px dotted #666
      text-decoration none 
      font-size .777rem 
      vertical-align middle
      &.open
        display none
      &:hover
        border-bottom-color #0ba5b7
    .filter
      width 2.105263rem
      height 2.105263rem
      line-height 2.105263rem
      text-align center
      vertical-align middle
      font-size 0
      display inline-block
      margin 0 1rem 0 0
      text-decoration none
      &.selected
        background-color #0ba5b7 
        color #FFF 
        &:hover
          color #FFF 
          background-color darken(#0ba5b7,20%)
      &:before
        icon()
        font-size 1.5rem
        content "\e809"


  // Блок статьи
  article
    box-sizing border-box
    width 100%
    position relative
    margin 3rem 0
    font-size 0.777rem
    line-height 1.257186rem 
    font-family Helvetica, Arial, sans-serif
    
    a
      text-decoration none
    
    &:first-child
      margin-top 0
        
    // Шапка
    header
      position relative
      
      // Заголовок статьи
      .title
        color #0BA5B7
        line-height 2.4rem
        font-size 1.8rem
        margin 0 0 .2rem
        font-family Georgia, Palatino, Times, 'Times New Roman', serif
        a
          border-bottom 1px solid #0BA5B7
          color #0BA5B7
          &:hover
            border-bottom-style none
            text-decoration none
      
      // Дата первой публикации
      time
        white-space nowrap
        margin 0 1rem 0 0
        display inline-block
        
      // Лайки
      .likes
        white-space nowrap
        margin 0 1rem 0 0
        text-decoration none
        &:before
          icon()
          position relative
          cursor default
          margin-right .2rem
          font-size .68rem
          content "\e802"
          text-decoration none
          color #000
        &:hover
          color #0ba5b7
          &:before
            color #0ba5b7
            content '\e801'
        &.disabled
          &:before
            content "\e802"
          &:hover
            &:before
              content '\e801'
        &.liked
          &:before
            content '\e801'
          &:hover
            color #0ba5b7
            &:before
              color #0ba5b7
              content '\e802'
            
      // Автор статьи
      .author
        display inline-block
        white-space nowrap
        margin 0 1rem 0 0
    
    // То, по чему можно фильтровать
    .filter
      a
        display inline
        border-bottom 1px dotted #666 
        &:hover 
          border-bottom-color #0ba5b7 
        
      // Язык оригинала и переводы
      .language
        display inline
        margin 0 1rem 0 0
        // &:before
        //   icon()
        //   cursor default
        //   margin-right .2rem
        //   font-size .68rem
        //   content '\e80d'
        //   text-decoration none
        //   color #000
          
      // Доменное имя
      .domain
        display inline
        white-space nowrap
        margin 0 1rem 0 0
        // &:before
        //   icon()
        //   position relative
        //   cursor default
        //   margin-right .2rem
        //   font-size .68rem
        //   content '\e80c'
        //   text-decoration none
        //   color #000

      // Теги
      .tags
        display inline
        a
          white-space nowrap
        // &:before
        //   icon()
        //   font-size .68rem
        //   margin 0 .25rem 0 0 
        //   content "\e805"
    
    // Меню доступное пользователям
    .user-menu
      display inline
      a
        display inline
        margin 0 1rem 0 0
        white-space nowrap
        border-bottom 1px dotted #666 
        &:hover 
          border-bottom-color #0ba5b7 
        &.hide-list
          display none
        //   &:hover:before
        //     content "\e816"
        //   &:before
        //     icon()
        //     font-size .68rem
        //     margin 0 .25rem 0 0 
        //     content "\e817"
        //     text-decoration none
        //     color #000
        // &.show-list
        //   &:hover:before
        //     content "\e817"
        //   &:before
        //     icon()
        //     font-size .68rem
        //     margin 0 .25rem 0 0 
        //     content "\e816"
        //     text-decoration none
        //     color #000
        // &.add
        //   &:before
        //     icon()
        //     font-size .68rem
        //     margin 0 .25rem 0 0 
        //     content "\e807"
        //     text-decoration none
        //     color #000

    // Меню доступное членам редакции
    &:hover
      .editor-menu
        visibility visible
    .editor-menu
      visibility hidden
      position absolute
      left 0
      right 0
      bottom 100%
      a
        display inline-block
        white-space nowrap
        &:hover
          &:before
            color #0ba5b7
        &:before
          icon()
          width 1.4rem
          height 1.4rem
          line-height 1.4rem
          text-align left
          margin 0
          text-decoration none
          color #000
          vertical-align middle
        &.translate
          &:before
            content "\e81d"
          &.my:hover:before
            color #000 
          &.my:before
            color #0ba5b7
        &.edit
          &:before
            content "\e821"
        &.remove
          &:before
            content "\e806"
            
    // Cписок переводов
    .translations
      clear both
      display none
      padding-top 0.5rem
      th
        text-align left
        padding 0 1rem 0 0 
        font-style italic
      a
        text-decoration underline
        font-family Georgia, Palatino, Times, 'Times New Roman', serif
        color #0BA5B7 
        &:hover
          text-decoration none
  
  // Кнопочка «Загрузить еще статей»
  .more
    display inline-block
    position relative
    background-color #0ba5b7
    color #FFF
    height 3rem
    padding 0 1rem
    margin 0 0 1rem 
    line-height 3rem
    min-width 5rem 
    cursor pointer
    overflow visible
    white-space nowrap
    text-decoration none
    &.loading:hover,
    &.loading
      color lighten(#0ba5b7,97%)
      cursor default
      background-color lighten(#0ba5b7,97%)
      span
        animation spin 2s infinite linear
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        margin auto
        width 2rem
        height 2rem
        &:after
          icon()
          content  '\e81a'
          position absolute
          left 0
          right 0
          bottom 0
          top 0
          vertical-align middle
          text-align center
          color #0ba5b7
          line-height 2rem
      &:before
        border-color lighten(#0ba5b7,97%) transparent transparent
        
    &:before
      content "."
      overflow hidden
      display block
      position absolute
      top 100%
      left .5rem
      margin auto
      height 0
      width 0
      border-width .5rem .5rem 0 0
      border-color #0ba5b7 transparent transparent
      border-style solid solid none
    &:hover
      background-color darken(#0ba5b7,20%)
      &:before
        border-color darken(#0ba5b7,20%) transparent transparent
    
  
  // Футер Кучи
  &>footer
    max-width: 43rem;
    margin 2rem auto
    padding: 1rem 2.10526rem 0;
    border-top 1px dotted #000
    font-size 0
    line-height 0
    .copyright
      display block
      font-size 0.68rem
      line-height 1.618rem
      margin 2rem 0
    nav
      vertical-align top
      display inline-block
      min-width 30%
      padding 0 1rem 0 0 
      font-size 0.68rem
      line-height 1.618rem
      overflow hidden
      position relative
      box-sizing border-box
      &.сontacts
        a
          &:before
            icon()
            text-decoration none
            margin 0 .25rem 0 0 
            color #000
      a
        float left
        white-space nowrap
        clear left
        &.rss
          &:before
            content '\e818'
        &.twitter
          &:before
            content '\e815'
        &.github
          &:before
            content '\e80f'
             


@media screen and (min-width: 58rem)
  body.heap
    article
      header
        .likes
          position absolute
          right 100%          

@media screen and (max-width: 42rem)
  html:root
    font-size 16px
  body.heap
    .more
      margin 0 0 0 -2.10526rem
      padding 0 2.10526rem;
      height 6rem
      line-height 6rem
      text-align center
      width 100%
      &:before
        display none
    .config
      .add-article
        display none
    .page-list,
    form
      display none
    footer
      margin-top 0
      border-top-style none
      nav
        width 100%
        margin 0 0 1rem 
    article
      .translations
        display block !important
        .language
          width auto
          text-align left
      header
        .likes.disabled
          background-color #ccc
          color #FFF 
          &:hover
            background-color darken(#ccc,10%)
            color #FFF
            &:before
              color #FFF
        .likes.liked,
        .likes
          float left
          margin 0 .5rem 0 0 
          display block
          width 3rem
          height 3rem
          line-height 3rem
          background-color #0ba5b7
          vertical-align middle
          text-align center
          color #FFF
          &:before
            color #FFF
          &:hover
            background-color darken(#0ba5b7,20%)
            color #FFF 
            &:before
              color #FFF
        .title
        .tags
          display block
      .user-menu,
      .editor-menu
        display none
    