@import "mixins.styl"

.login-popup
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  margin auto
  background-color #fff
  color #000
  .title
    display block
    text-align center
    font-size 1.5rem 
    line-height 1.75rem
    margin 0 0 .5rem 
  nav
    height 2.105263rem 
    display block
    color #FFF
    position relative
    .confirm
      min-width 3rem
      text-decoration none
      color #FFF 
      cursor pointer
      position absolute
      bottom 0
      top 0
      right 50%
      width 10%
      height 2.105263rem
      margin auto
      background-color #0BA5B7
      font-size 0
      &:before
        icon()
        position absolute
        left 0
        top 0
        bottom 0
        right 0
        margin auto
        text-align center
        vertical-align middle
        font-size 1rem
        line-height  2.105263rem
        width 2.105263rem
        height 2.105263rem 
        content '\e813'
      &:hover
        background-color darken(#0BA5B7, 20%) 
    .deny
      min-width 3rem
      cursor pointer
      position absolute
      bottom 0
      top 0
      left 50%
      width 10%
      margin auto
      height 2.105263rem
      background-color #ffc000
      font-size 0
      &:before
        icon()
        position absolute
        left 0
        top 0
        bottom 0
        right 0
        margin auto
        text-align center
        vertical-align middle
        font-size 1rem
        line-height  2.105263rem
        width 2.105263rem
        height 2.105263rem 
        content '\e814'
      &:hover
        background-color #ff9600
        
@media screen and (min-width: 65rem)
  .login-popup
    border-left 6.66666667rem solid #fff
    left -6.66666667rem