html, body
  font-size 18px
  line-height 1.618
  text-rendering optimizeLegibility
  font-family Helvetica, Arial, sans-serif
  
body
  line-height 1.618rem

p
  font-size 1rem
  margin 1.2rem 0
  

h1,h2,h3,h4,h5
  font-family Georgia, Palatino, Times, 'Times New Roman', serif
  font-weight normal

h1
  font-size 3rem
  line-height 1 

h2
  font-size 2.5rem
  line-height 1.1

h3
  font-size 1.5rem 
  line-height 1.4
  
h4
  font-size 1.3125rem

h5
  font-size 1.1rem
  
ul
  margin 1.2rem 0 1.2rem 2rem 
  list-style circle  
  
ol
  margin 1.2rem 0 1.2rem 2rem 
  list-style decimal   
  

code
  display inline-block
  font-family "Droid Sans Mono", "Lucidia Console", "Menlo", "Courier New", Courier, monospace
  white-space pre-line
  word-wrap break-word
  padding 0 0.5em
  background-color #f5f2f0
  font-size smaller