html, body
  font-size 18px
  line-height 1.618rem
  text-rendering optimizeLegibility 
  font-family Georgia, Palatino, Times, 'Times New Roman', serif
  
body
  line-height 1.618rem

p
  font-size 1rem
  font-size 1.055rem
  line-height 1.47rem
  margin 1.47rem 0
  
b, strong
  font-weight bold
i, em
  font-style italic


h1,h2,h3,h4,h5
  font-family Georgia, Palatino, Times, 'Times New Roman', serif
  font-weight normal

h1
  font-size 3rem
  line-height 1 

h2
  font-size 2.5rem
  line-height 1.1

h3
  font-size 1.5rem 
  line-height 1.4
  
h4
  font-size 1.3125rem

h5
  font-size 1.1rem
  
code
  display inline-block
  font-family "Droid Sans Mono", "Lucidia Console", "Menlo", "Courier New", Courier, monospace;
  white-space pre-line
  word-wrap  break-word
  padding 0 0.5rem
  background-color #f5f2f0
  font-size smaller

pre code
  font-size .666rem
  line-height 1.43
  display block
  white-space pre
  word-wrap normal
  overflow-y auto
  

blockquote
  border-left-width 4px
  border-left-style solid
  border-left-color #c7c7c7
  font-size 18px
  font-size 1.125rem
  line-height 1.47
  margin 1.47em 0
  padding 0 1em 0 1.47em
  
ul
  list-style disc outside
  margin 1.47rem 0 1.47rem 2.84rem
  font-size 1rem
  line-height 1.47rem
  ul
    list-style circle outside
    margin 0 0 0 2.375rem
  ol
    list-style decimal outside
    margin 0 0 0 2.375rem
    
ol
  margin 1.47rem 0 1.47rem 2.84rem
  font-size 1rem
  line-height 1.47rem
  list-style decimal outside
  ol
    list-style upper-roman outside
    margin 0 0 0 2.375rem
  ul
    list-style disc outside
    margin 0 0 0 2.375rem
    

figure
  margin 1.47rem 0
  img
    display block
  figcaption
    margin 0 
    background #F8F8F8
    display block

    font-size .888rem
    font-style italic
    line-height 1.47

    padding 1.47em