body.about .inner-navigation {
  display: block;
  font-size: .777rem;
  margin: 0 0 1.47rem;
}

body.about .inner-navigation:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  position: relative;
  clear: both;
}

body.about .inner-navigation a {
  text-decoration: none;
  color: #000;
  float: left;
  clear: left;
}

body.about .inner-navigation a span {
  border-bottom: 1px dotted #000;
}

body.about .inner-navigation a span:hover {
  border-bottom-style: none;
}

body.about .inner-navigation nav {
  display: block;
  padding: 0 0 0 2rem;
  margin: 0 0 .735rem;
}

body.about .inner-navigation nav:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  position: relative;
  clear: both;
}

body.about .bookmarklet-tip {
  font-family: Helvetica,Arial,sans-serif;
  position: fixed;
  top: -3rem;
  left: 0;
  right: 0;
  padding: 0 2rem 0 3rem;
  height: 2.105263rem;
  line-height: 2.105263rem;
  background-color: #0ba5b7;
  color: #fff;
  font-size: .666rem;
  -webkit-transition: top .25s .5s;
  transition: top .25s .5s;
}

body.about .bookmarklet-tip.open {
  top: 0;
  -webkit-transition: top .25s;
  transition: top .25s;
}

body.about .bookmarklet-tip:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  width: 1rem;
  text-align: center;
  margin: 0;
  content: '\e808';
  position: absolute;
  font-size: 1.2rem;
  left: 1rem;
}

body.about .bookmarklets:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  position: relative;
  clear: both;
}

body.about .bookmarklets .anonymous {
  padding: 0 1rem 0 0;
}

body.about .bookmarklets .identified {
  position: relative;
}

body.about .bookmarklets .identified .locked {
  position: absolute;
  top: -.1rem;
  left: -.1rem;
  bottom: -.1rem;
  right: -.1rem;
  background-color: rgba(255,255,255,0.75);
  text-decoration: none;
  color: #000;
}

body.about .bookmarklets .identified .locked:hover:after {
  color: #0ba5b7;
}

body.about .bookmarklets .identified .locked:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  content: "\e804";
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body.about .bookmarklets .anonymous,
body.about .bookmarklets .identified {
  float: left;
  width: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.about .bookmarklets .anonymous p,
body.about .bookmarklets .identified p {
  margin-top: 0;
}

body.about .bookmarklet {
  font-family: Helvetica,Arial,sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding: 0 1rem;
  margin: 0 .5rem 0 0;
  height: 2.105263rem;
  line-height: 2.105263rem;
  background-color: #0ba5b7;
  color: #fff;
  text-decoration: none;
  font-size: .666rem;
}

body.about .bookmarklet:hover {
  background-color: #098c9c;
}

body.about article section {
  margin: 2.4rem 0;
}

body.about article .contact-us {
  position: relative;
  margin: -1.2rem auto 0;
  background-color: #fff;
}

body.about article .contact-us.contact-err .error.contact-required {
  display: inline-block;
}

body.about article .contact-us.email-err .error.wrong-email {
  display: inline-block;
}

body.about article .contact-us nav {
  margin: 1.2rem 0 0;
}

body.about article .contact-us nav .error {
  display: none;
  vertical-align: top;
  color: #f00;
  font-family: Helvetica,Arial,sans-serif;
  font-size: .666rem;
  padding: 0 0 0 1rem;
  line-height: 1.0526315rem;
}

body.about article .contact-us nav button {
  background: none;
  border-radius: 0;
  border-style: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 .1rem;
  height: 2.105263rem;
  line-height: 2.105263rem;
  -webkit-appearance: none;
  position: relative;
  overflow: visible;
  display: inline-block;
  white-space: nowrap;
  display: inline-block;
  height: 2.105263rem;
  font-size: .777rem;
  box-sizing: border-box;
  padding: 0 1rem;
  min-width: 20%;
  color: #fff;
  cursor: pointer;
  background-color: #0ba5b7;
}

body.about article .contact-us nav button:hover {
  background-color: #098c9c;
}

body.about article .contact-us .role {
  position: relative;
  clear: both;
  height: 1.618rem;
  padding-top: 1.618rem;
  border-bottom: 1px solid #0ba5b7;
}

body.about article .contact-us .role span {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: .611rem;
  line-height: 1.618rem;
  color: #a9a9a9;
  z-index: 1;
}

body.about article .contact-us .role input {
  position: absolute;
  left: -9999px;
}

body.about article .contact-us .role input:focus~span {
  color: #0ba5b7;
}

body.about article .contact-us .role input:checked+label {
  color: #000;
  border-bottom-style: none;
  cursor: default;
  pointer-events: none;
}

body.about article .contact-us .role label {
  color: #999;
  float: left;
  width: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.618rem;
  font-size: .666rem;
}

body.about article .contact-us .role label:hover {
  color: #000;
  cursor: pointer;
}

body.about article .contact-us label.message {
  clear: both;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-bottom-style: none;
  padding: 2.118rem 0 .5rem;
}

body.about article .contact-us label.input {
  float: left;
  overflow: hidden;
  height: 3.216263rem;
  width: 33%;
  border-bottom: 1px solid #0ba5b7;
  padding-top: 1.111rem;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.about article .contact-us label.input:first-child {
  width: 34%;
}

body.about article .contact-us label.input:first-child span {
  left: 0;
}

body.about article .contact-us label.input:first-child input {
  padding-left: 0;
}

body.about article .contact-us label span {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 1rem;
  right: 0;
  font-size: .611rem;
  line-height: 1.618rem;
  color: #a9a9a9;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

body.about article .contact-us label textarea {
  clear: both;
  width: 100%;
  height: 1.618rem;
  line-height: 1.618rem;
  font-size: .9rem;
  margin: 0;
  display: block;
  padding: 0;
  border-style: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

body.about article .contact-us label textarea+span {
  left: 0;
  line-height: 2.118rem;
}

body.about article .contact-us label textarea:focus + span {
  color: #0ba5b7;
}

body.about article .contact-us label textarea.non-empty + span {
  opacity: 1;
  z-index: 2;
}

body.about article .contact-us label input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  line-height: 1.618rem;
  height: 1.618rem;
  display: inline-block;
  position: relative;
  background: none;
  border-radius: 0;
  border-style: none;
  width: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  font-size: .9rem;
  padding-left: 1rem;
}

body.about article .contact-us label input:focus + span {
  color: #0ba5b7;
}

body.about article .contact-us label input.non-empty + span {
  opacity: 1;
  z-index: 2;
}