.add-article-form {
  margin: auto;
  position: absolute;
  top: 0;
  right: 6.549707rem;
  left: 2.105263rem;
  height: 2.105263rem;
  display: none;
}

.add-article-form.open {
  display: block;
}

.add-article-form label span {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 81%;
  margin: 0;
  padding: 0 .5rem;
  height: 2.105263rem;
  line-height: 2.105263rem;
  font-size: .666rem;
  z-index: 1;
  border: 1px solid transition;
  z-index: 1;
  -webkit-transition: top .25s;
  transition: top .25s;
}

.add-article-form input {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 81%;
  margin: 0;
  padding: 0 .5rem;
  height: 2.105263rem;
  line-height: 2.105263rem;
  font-size: .666rem;
  z-index: 1;
  border: 1px solid #0ba5b7;
  z-index: 2;
}

.add-article-form input.non-empty + span {
  top: -2.105263rem;
}

.add-article-form button {
  background: none;
  border-radius: 0;
  border-style: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 .1rem;
  height: 2.105263rem;
  line-height: 2.105263rem;
  -webkit-appearance: none;
  position: relative;
  overflow: visible;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 20%;
  height: 2.105263rem;
  box-sizing: border-box;
  background-color: #0ba5b7;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}

.add-article-form button:hover {
  background-color: #098492;
}