.calendar {
  position: relative;
  margin: 0 0 2rem;
}

.calendar header {
  line-height: 2rem;
  margin: 0 0 1rem;
}

.calendar header:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  position: relative;
  clear: both;
}

.calendar header .close {
  float: right;
  cursor: pointer;
}

.calendar header .close:hover {
  color: #0ba5b7;
}

.calendar header .close:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  content: '\e806';
}

.calendar header .prev-month,
.calendar header .next-month {
  width: 2rem;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.calendar header .prev-month:hover,
.calendar header .next-month:hover {
  color: #0ba5b7;
}

.calendar header .prev-month:before,
.calendar header .next-month:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 1.2rem;
}

.calendar header .next-month:before {
  content: '\e80b';
}

.calendar header .prev-month:before {
  content: '\e819';
}

.calendar header .month {
  text-transform: capitalize;
  display: inline-block;
  font-size: .9rem;
  width: 9rem;
  text-align: center;
}

.calendar .days {
  width: 100%;
  line-height: 0;
  font-size: 0;
  position: relative;
}

.calendar .days .day {
  cursor: pointer;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem .4rem;
  width: 14.28571%;
  height: 2rem;
  padding-top: 5%;
  line-height: 1.6rem;
  font-size: .9rem;
}

.calendar .days .day:nth-child(7n-1),
.calendar .days .day:nth-child(7n) {
  color: #f00;
}

.calendar .days .day:hover {
  background-color: #f0f0f0;
}

.calendar .days .day.today {
  background-color: #0ba5b7;
  color: #fff;
}

.calendar .days .day.today:hover {
  background-color: #098c9c;
}