@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?4843519");
  src: url("../font/fontello.eot?4843519#iefix") format('embedded-opentype'),url("../font/fontello.svg?4843519#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2rem;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-search:before {
  content: '\e809';
}

.icon-filter:before {
  content: '\e803';
}

.icon-heart-empty:before {
  content: '\e802';
}

.icon-star:before {
  content: '\e811';
}

.icon-star-empty:before {
  content: '\e812';
}

.icon-user:before {
  content: '\e80e';
}

.icon-tag:before {
  content: '\e805';
}

.icon-thumbs-up:before {
  content: '\e813';
}

.icon-thumbs-down:before {
  content: '\e814';
}

.icon-chat:before {
  content: '\e800';
}

.icon-doc-text:before {
  content: '\e816';
}

.icon-doc-text-inv:before {
  content: '\e817';
}

.icon-rss:before {
  content: '\e818';
}

.icon-heart:before {
  content: '\e801';
}

.icon-up-open-mini:before {
  content: '\e808';
}

.icon-left-open-big:before {
  content: '\e819';
}

.icon-right-open-big:before {
  content: '\e80b';
}

.icon-network:before {
  content: '\e80c';
}

.icon-language:before {
  content: '\e80d';
}

.icon-github:before {
  content: '\e80f';
}

.icon-twitter:before {
  content: '\e815';
}

.icon-cancel:before {
  content: '\e806';
}

.icon-plus:before {
  content: '\e807';
}

.icon-pencil:before {
  content: '\e810';
}

.icon-calendar:before {
  content: '\e80a';
}

.icon-down-open-mini:before {
  content: '\e804';
}