@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?70557457");
  src: url("../font/fontello.eot?70557457#iefix") format('embedded-opentype'),url("../font/fontello.woff?70557457") format('woff'),url("../font/fontello.ttf?70557457") format('truetype'),url("../font/fontello.svg?70557457#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2rem;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-spin5:before {
  content: '\e81a';
}

.icon-calendar:before {
  content: '\e80a';
}

.icon-heart-empty-1:before {
  content: '\e81f';
}

.icon-menu:before {
  content: '\e81c';
}

.icon-cog:before {
  content: '\e800';
}

.icon-credit-card:before {
  content: '\e820';
}

.icon-star:before {
  content: '\e811';
}

.icon-star-empty:before {
  content: '\e812';
}

.icon-user:before {
  content: '\e80e';
}

.icon-menu-1:before {
  content: '\e809';
}

.icon-tag:before {
  content: '\e805';
}

.icon-thumbs-up:before {
  content: '\e813';
}

.icon-thumbs-down:before {
  content: '\e814';
}

.icon-doc-text:before {
  content: '\e816';
}

.icon-doc-text-inv:before {
  content: '\e817';
}

.icon-rss:before {
  content: '\e818';
}

.icon-down-open-mini:before {
  content: '\e804';
}

.icon-up-open-mini:before {
  content: '\e808';
}

.icon-heart-1:before {
  content: '\e81e';
}

.icon-right-open-big:before {
  content: '\e80b';
}

.icon-network:before {
  content: '\e80c';
}

.icon-language:before {
  content: '\e80d';
}

.icon-credit-card-1:before {
  content: '\e822';
}

.icon-github:before {
  content: '\e80f';
}

.icon-twitter:before {
  content: '\e815';
}

.icon-cancel:before {
  content: '\e803';
}

.icon-plus:before {
  content: '\e807';
}

.icon-pencil:before {
  content: '\e810';
}

.icon-menu-2:before {
  content: '\e81b';
}

.icon-credit-card-2:before {
  content: '\e823';
}

.icon-heart:before {
  content: '\e801';
}

.icon-heart-empty:before {
  content: '\e802';
}

.icon-star-circled:before {
  content: '\e81d';
}

.icon-cancel-circled:before {
  content: '\e806';
}

.icon-pencil-circled:before {
  content: '\e821';
}

.icon-left-open-big:before {
  content: '\e819';
}