body>header {
  max-width: 43rem;
  margin: 0 auto 2.4rem;
  padding: 1rem 2.10526rem 0;
}

body>header a {
  color: #000;
}

body>header h1 {
  position: relative;
}

body>header nav {
  position: relative;
  margin: 0 0 1rem;
  font-size: .8rem;
  font-family: Helvetica,Arial,sans-serif;
}

body>header nav a {
  margin: 0 .5rem 0 0;
}

body>header nav a:hover {
  text-decoration: none;
}

body>header nav .fm {
  margin: 0 0 0 -1rem;
}

body>header nav .fm:before {
  content: "←";
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin: 0 .25rem 0 0;
  text-decoration: none;
}

body>header nav .heap {
  float: right;
  margin: 0 -1rem 0 0;
}

body>header nav .heap:after {
  content: "→";
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin: 0 .25rem 0 0;
  text-decoration: none;
}

body>header nav .login {
  float: right;
  margin: 0;
  position: relative;
}

body>header nav .login:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin: 0 .25rem 0 0;
  text-decoration: none;
  content: '\e80f';
}