@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  50% {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes hart {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes hart {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hart {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes hart-broken {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes hart-broken {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -ms-transform: scale(.8);
    transform: scale(.8);
  }

  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hart-broken {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

body.heap {
  position: relative;
}

body.heap a {
  color: #000;
}

body.heap>header {
  max-width: 43rem;
  margin: 0 auto;
  padding: 1rem 2.10526rem 0;
}

body.heap>header h1 {
  position: relative;
}

body.heap>header nav {
  position: relative;
  margin: 0 0 1rem;
  font-size: .8rem;
}

body.heap>header nav a {
  margin: 0 .5rem 0 0;
}

body.heap>header nav a:hover {
  text-decoration: none;
}

body.heap>header nav .fm {
  margin: 0 0 0 -1rem;
}

body.heap>header nav .fm:before {
  content: "â†";
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin: 0 .25rem 0 0;
  text-decoration: none;
}

body.heap>header nav .login {
  float: right;
  margin: 0;
  position: relative;
}

body.heap>header nav .login:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin: 0 .25rem 0 0;
  text-decoration: none;
  content: '\e80f';
}

body.heap .config {
  position: relative;
  max-width: 43rem;
  padding: 0 2.105263rem;
  height: 2.105263rem;
  margin: 4rem auto 3rem;
}

body.heap .config .add-article {
  margin: 0;
  cursor: pointer;
  display: inline;
  position: relative;
  top: 1px;
  border-bottom: 1px dotted #666;
  text-decoration: none;
  font-size: .666rem;
}

body.heap .config .add-article.open {
  display: none;
}

body.heap .config .add-article:hover {
  color: #0ba5b7;
  border-bottom-color: #0ba5b7;
}

body.heap .config .filter {
  display: inline-block;
  margin: 0 .5rem;
  float: right;
  height: 2.105263rem;
  cursor: pointer;
  position: relative;
}

body.heap .config .filter span {
  font-size: .666rem;
  border-bottom: 1px dotted #666;
  overflow: hidden;
  position: relative;
  top: 1px;
}

body.heap .config .filter span:hover {
  color: #0ba5b7;
  border-bottom-color: #0ba5b7;
}

body.heap .config .filter.selected {
  background-color: #0ba5b7;
  padding: 0 .5rem;
  margin: 0;
}

body.heap .config .filter.selected:before {
  content: ".";
  height: 0;
  width: 0;
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-color: #0ba5b7 transparent transparent;
  border-width: .35rem .35rem 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 0 0 0 -.35rem;
}

body.heap .config .filter.selected:hover {
  background-color: #098492;
}

body.heap .config .filter.selected:hover:before {
  border-color: #098492 transparent transparent;
}

body.heap .config .filter.selected:hover span {
  border-bottom-color: #098492;
}

body.heap .config .filter.selected span {
  color: #fff;
  border-bottom-color: #0ba5b7;
}

body.heap article {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin: 3rem 0;
  padding: 0;
  font-size: .777rem;
  line-height: 1.257186rem;
  font-family: Helvetica,Arial,sans-serif;
}

body.heap article a {
  text-decoration: none;
}

body.heap article:first-child {
  margin-top: 0;
}

body.heap article.translated header .likes,
body.heap article.translated header .likes:hover {
  color: #000;
  -webkit-animation: none;
  animation: none;
  cursor: default;
}

body.heap article.translated header .likes:before,
body.heap article.translated header .likes:hover:before {
  font-weight: 200;
  color: #000;
  content: "\e81f";
  pointer-events: none;
}

body.heap article header {
  position: relative;
}

body.heap article header .title {
  color: #0ba5b7;
  line-height: 2.4rem;
  font-size: 1.8rem;
  margin: 0 0 .2rem;
  font-family: Georgia,Palatino,Times,'Times New Roman',serif;
}

body.heap article header .title a {
  border-bottom: 1px solid #0ba5b7;
  color: #0ba5b7;
}

body.heap article header .title a:hover {
  border-bottom-style: none;
  text-decoration: none;
}

body.heap article header time {
  white-space: nowrap;
  margin: 0 1rem 0 0;
  display: inline-block;
}

body.heap article header .donate {
  position: relative;
  float: left;
  z-index: 2;
  right: 0;
  top: 0;
  margin: .6rem .5rem 0 .6rem;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  display: block;
  color: #000;
  font-size: .666;
  -webkit-transition: -webkit-transform .25s;
  transition: transform .25s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

body.heap article header .donate:hover:before {
  color: #c00;
}

body.heap article header .donate:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  color: #000;
  font-size: 1.6rem;
  content: "\e802";
  position: absolute;
  top: .05rem;
  left: 0;
  z-index: -1;
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  text-align: center;
  vertical-align: middle;
}

body.heap article header .likes {
  position: relative;
  float: left;
  z-index: 1;
  right: 0;
  top: 0;
  margin: .6rem .5rem 0 .6rem;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  display: block;
  color: #000;
  font-size: .666rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

body.heap article header .likes:hover {
  -webkit-animation: hart .4s 1 linear;
  animation: hart .4s 1 linear;
  color: #fff;
}

body.heap article header .likes:hover:before {
  color: #d00;
}

body.heap article header .likes.liked {
  color: #fff;
}

body.heap article header .likes.liked:hover {
  -webkit-animation: hart-broken .4s 1 linear;
  animation: hart-broken .4s 1 linear;
  color: #000;
}

body.heap article header .likes.liked:hover:before {
  color: #e8e8e8;
}

body.heap article header .likes.liked:before {
  content: "\e81e";
  color: #d00;
}

body.heap article header .likes:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  color: #e8e8e8;
  font-size: 2rem;
  content: "\e81e";
  position: absolute;
  top: .05rem;
  left: 0;
  z-index: -1;
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  text-align: center;
  vertical-align: middle;
}

body.heap article header .author {
  display: inline-block;
  white-space: nowrap;
  margin: 0 1rem 0 0;
}

body.heap article .filter {
  overflow: hidden;
}

body.heap article .filter a {
  display: inline;
  border-bottom: 1px dotted #666;
}

body.heap article .filter a:hover {
  border-bottom-color: #0ba5b7;
}

body.heap article .filter .language {
  display: inline;
  margin: 0 1rem 0 0;
}

body.heap article .filter .domain {
  display: inline;
  white-space: nowrap;
  margin: 0 1rem 0 0;
}

body.heap article .filter .tags {
  display: inline;
}

body.heap article .filter .tags a {
  white-space: nowrap;
}

body.heap article .user-menu {
  display: inline;
}

body.heap article .user-menu a {
  display: inline;
  margin: 0 1rem 0 0;
  white-space: nowrap;
  border-bottom: 1px dotted #666;
}

body.heap article .user-menu a:hover {
  border-bottom-color: #0ba5b7;
}

body.heap article .user-menu a.hide-list {
  display: none;
}

body.heap article:hover .editor-menu {
  opacity: 1;
}

body.heap article .editor-menu {
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
}

body.heap article .editor-menu .translate-trigger {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: .8333rem;
  width: 1.66rem;
  background-color: #f0f0f0;
  border-radius: .42rem;
}

body.heap article .editor-menu .translate-trigger:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  line-height: .9rem;
  height: .9rem;
  width: .9rem;
  font-size: .6rem;
  text-align: center;
  content: '\e811';
}

body.heap article .editor-menu .translate-trigger:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  line-height: .9rem;
  height: .9rem;
  width: .9rem;
  font-size: .6rem;
  text-align: center;
  content: '\e812';
}

body.heap article .editor-menu a {
  display: inline-block;
  white-space: nowrap;
}

body.heap article .editor-menu a:hover:before {
  color: #0ba5b7;
}

body.heap article .editor-menu a:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  text-align: left;
  margin: 0;
  text-decoration: none;
  color: #000;
  vertical-align: middle;
}

body.heap article .editor-menu a.translate:before {
  content: "\e81d";
}

body.heap article .editor-menu a.translate.my:hover:before {
  color: #000;
}

body.heap article .editor-menu a.translate.my:before {
  color: #0ba5b7;
}

body.heap article .editor-menu a.edit:before {
  content: "\e821";
}

body.heap article .editor-menu a.remove:before {
  content: "\e806";
}

body.heap article .translations {
  clear: both;
  display: block;
  padding-top: .5rem;
}

body.heap article .translations th {
  text-align: left;
  padding: 0 1rem 0 0;
  font-style: italic;
}

body.heap article .translations .domain {
  padding: 0 1rem 0 0;
  font-size: .666rem;
}

body.heap article .translations a {
  text-decoration: underline;
  font-family: Georgia,Palatino,Times,'Times New Roman',serif;
  color: #0ba5b7;
}

body.heap article .translations a:hover {
  text-decoration: none;
}

body.heap .paginator {
  margin: 0 0 1rem;
  float: right;
  font-size: 1.8rem;
  line-height: 3rem;
  height: 3rem;
}

body.heap .paginator:hover .current {
  background-color: #f0f0f0;
}

body.heap .paginator .total,
body.heap .paginator .separator {
  font-weight: 100;
}

body.heap .paginator .current {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 100;
  cursor: pointer;
  outline: none;
}

body.heap .paginator .current:focus,
body.heap .paginator .current:hover {
  background-color: #f0f0f0;
}

body.heap .paginator .title {
  display: inline;
  font-size: .777rem;
}

body.heap .more {
  float: left;
  position: relative;
  background-color: #0ba5b7;
  color: #fff;
  height: 3rem;
  padding: 0 1rem;
  margin: 0 0 1rem;
  line-height: 3rem;
  min-width: 5rem;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
  text-decoration: none;
}

body.heap .more.loading:hover,
body.heap .more.loading {
  color: #eafcfe;
  cursor: default;
  text-align: center;
  background-color: #eafcfe;
}

body.heap .more.loading:hover .title,
body.heap .more.loading .title {
  display: none;
}

body.heap .more.loading:hover .sign,
body.heap .more.loading .sign {
  margin: auto;
  width: 3rem;
  height: 3rem;
  display: inline-block;
}

body.heap .more.loading:hover .sign:after,
body.heap .more.loading .sign:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  content: '\e805';
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  text-align: center;
  color: #0ba5b7;
  line-height: 3rem;
}

body.heap .more.loading:hover:before,
body.heap .more.loading:before {
  border-color: #eafcfe transparent transparent;
}

body.heap .more:before {
  content: ".";
  overflow: hidden;
  display: block;
  position: absolute;
  top: 100%;
  left: .5rem;
  margin: auto;
  height: 0;
  width: 0;
  border-width: .5rem .5rem 0 0;
  border-color: #0ba5b7 transparent transparent;
  border-style: solid solid none;
}

body.heap .more:hover {
  background-color: #098492;
}

body.heap .more:hover:before {
  border-color: #098492 transparent transparent;
}

@media screen and (min-width: 58rem) {
  body.heap article header .donate {
    top: 2.4rem;
  }

  body.heap article header .donate,
  body.heap article header .likes {
    margin: 0 .5rem 0 0;
    position: absolute;
    right: 100%;
    float: none;
  }
}

@media screen and (max-width: 45rem) {
  html:root {
    font-size: 16px;
  }

  body.heap .paginator {
    float: none;
    display: block;
    text-align: center;
    margin: 2rem 0 2rem;
  }

  body.heap .more {
    float: none;
    margin: 0 0 0 -2.10526rem;
    padding: 0 2.10526rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    width: 100%;
  }

  body.heap .more:before {
    display: none;
  }

  body.heap .config .add-article {
    display: none;
  }

  body.heap .page-list,
  body.heap form {
    display: none;
  }

  body.heap>footer {
    margin-top: 0;
    border-top-style: none;
  }

  body.heap>footer nav {
    width: 100%;
    margin: 0 0 1rem;
  }

  body.heap article {
    padding-left: 0;
  }

  body.heap article .translations {
    display: block !important;
  }

  body.heap article .translations .language {
    width: auto;
    text-align: left;
  }

  body.heap article header .donate,
  body.heap article header .likes {
    margin: 0 .5rem 0 0;
  }

  body.heap article header .title,
  body.heap article header .tags {
    display: block;
  }

  body.heap article .user-menu,
  body.heap article .editor-menu {
    display: none;
  }
}