@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  50% {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body.heap {
  position: relative;
}

body.heap>.page {
  max-width: 43rem;
  margin: 0 auto;
  padding: 1rem 2.10526rem 0;
}

body.heap>header {
  max-width: 43rem;
  margin: 0 auto;
  padding: 1rem 2.10526rem 0;
}

body.heap>header h1 {
  position: relative;
  margin-left: 70px;
}

body.heap>header h1:before {
  content: ".";
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  position: absolute;
  top: -5px;
  left: -70px;
  width: 64px;
  height: 64px;
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
}

body.heap>header nav {
  position: relative;
  overflow: hidden;
  margin: 0 0 1rem;
  font-size: .8rem;
}

body.heap>header nav a {
  margin: 0 .5rem 0 0;
}

body.heap>header nav .filter {
  position: relative;
  float: left;
}

body.heap>header nav .login {
  float: right;
  margin: 0;
  position: relative;
}

body.heap>header nav .login:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  right: 100%;
  top: 0;
  width: 1rem;
  text-decoration: none;
  padding: 0;
  margin: 0 0 0 1rem;
  content: '\e80f';
}

body.heap .config {
  position: relative;
  max-width: 43rem;
  padding: 0 2.10526rem;
  margin: 4rem auto 3rem;
}

body.heap .config .add-article {
  border-bottom: 1px dotted #666;
  text-decoration: none;
  font-size: .777rem;
  vertical-align: middle;
}

body.heap .config .add-article.open {
  display: none;
}

body.heap .config .add-article:hover {
  border-bottom-color: #0ba5b7;
}

body.heap .config .filter {
  width: 2.105263rem;
  height: 2.105263rem;
  line-height: 2.105263rem;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
  display: inline-block;
  margin: 0 1rem 0 0;
  text-decoration: none;
}

body.heap .config .filter.selected {
  background-color: #0ba5b7;
  color: #fff;
}

body.heap .config .filter.selected:hover {
  color: #fff;
  background-color: #098492;
}

body.heap .config .filter:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 1.5rem;
  content: "\e809";
}

body.heap article {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin: 3rem 0;
  font-size: .777rem;
  line-height: 1.257186rem;
  font-family: Helvetica,Arial,sans-serif;
}

body.heap article a {
  text-decoration: none;
}

body.heap article:first-child {
  margin-top: 0;
}

body.heap article header {
  position: relative;
}

body.heap article header .title {
  color: #0ba5b7;
  line-height: 2.4rem;
  font-size: 1.8rem;
  margin: 0 0 .2rem;
  font-family: Georgia,Palatino,Times,'Times New Roman',serif;
}

body.heap article header .title a {
  border-bottom: 1px solid #0ba5b7;
  color: #0ba5b7;
}

body.heap article header .title a:hover {
  border-bottom-style: none;
  text-decoration: none;
}

body.heap article header time {
  white-space: nowrap;
  margin: 0 1rem 0 0;
  display: inline-block;
}

body.heap article header .likes {
  white-space: nowrap;
  margin: 0 1rem 0 0;
  text-decoration: none;
}

body.heap article header .likes:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  position: relative;
  cursor: default;
  margin-right: .2rem;
  font-size: .68rem;
  content: "\e802";
  text-decoration: none;
  color: #000;
}

body.heap article header .likes:hover {
  color: #0ba5b7;
}

body.heap article header .likes:hover:before {
  color: #0ba5b7;
  content: '\e801';
}

body.heap article header .likes.disabled:before {
  content: "\e802";
}

body.heap article header .likes.disabled:hover:before {
  content: '\e801';
}

body.heap article header .likes.liked:before {
  content: '\e801';
}

body.heap article header .likes.liked:hover {
  color: #0ba5b7;
}

body.heap article header .likes.liked:hover:before {
  color: #0ba5b7;
  content: '\e802';
}

body.heap article header .author {
  display: inline-block;
  white-space: nowrap;
  margin: 0 1rem 0 0;
}

body.heap article .filter a {
  display: inline;
  border-bottom: 1px dotted #666;
}

body.heap article .filter a:hover {
  border-bottom-color: #0ba5b7;
}

body.heap article .filter .language {
  display: inline;
  margin: 0 1rem 0 0;
}

body.heap article .filter .domain {
  display: inline;
  white-space: nowrap;
  margin: 0 1rem 0 0;
}

body.heap article .filter .tags {
  display: inline;
}

body.heap article .filter .tags a {
  white-space: nowrap;
}

body.heap article .user-menu {
  display: inline;
}

body.heap article .user-menu a {
  display: inline;
  margin: 0 1rem 0 0;
  white-space: nowrap;
  border-bottom: 1px dotted #666;
}

body.heap article .user-menu a:hover {
  border-bottom-color: #0ba5b7;
}

body.heap article .user-menu a.hide-list {
  display: none;
}

body.heap article:hover .editor-menu {
  visibility: visible;
}

body.heap article .editor-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
}

body.heap article .editor-menu a {
  display: inline-block;
  white-space: nowrap;
}

body.heap article .editor-menu a:hover:before {
  color: #0ba5b7;
}

body.heap article .editor-menu a:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  text-align: left;
  margin: 0;
  text-decoration: none;
  color: #000;
  vertical-align: middle;
}

body.heap article .editor-menu a.translate:before {
  content: "\e81d";
}

body.heap article .editor-menu a.translate.my:hover:before {
  color: #000;
}

body.heap article .editor-menu a.translate.my:before {
  color: #0ba5b7;
}

body.heap article .editor-menu a.edit:before {
  content: "\e821";
}

body.heap article .editor-menu a.remove:before {
  content: "\e806";
}

body.heap article .translations {
  clear: both;
  display: none;
  padding-top: .5rem;
}

body.heap article .translations th {
  text-align: left;
  padding: 0 1rem 0 0;
  font-style: italic;
}

body.heap article .translations a {
  text-decoration: underline;
  font-family: Georgia,Palatino,Times,'Times New Roman',serif;
  color: #0ba5b7;
}

body.heap article .translations a:hover {
  text-decoration: none;
}

body.heap .more {
  display: inline-block;
  position: relative;
  background-color: #0ba5b7;
  color: #fff;
  height: 3rem;
  padding: 0 1rem;
  margin: 0 0 1rem;
  line-height: 3rem;
  min-width: 5rem;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
  text-decoration: none;
}

body.heap .more.loading:hover,
body.heap .more.loading {
  color: #f6fefe;
  cursor: default;
  background-color: #f6fefe;
}

body.heap .more.loading:hover span,
body.heap .more.loading span {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 2rem;
  height: 2rem;
}

body.heap .more.loading:hover span:after,
body.heap .more.loading span:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  content: '\e81a';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  vertical-align: middle;
  text-align: center;
  color: #0ba5b7;
  line-height: 2rem;
}

body.heap .more.loading:hover:before,
body.heap .more.loading:before {
  border-color: #e1fafd transparent transparent;
}

body.heap .more:before {
  content: ".";
  overflow: hidden;
  display: block;
  position: absolute;
  top: 100%;
  left: .5rem;
  margin: auto;
  height: 0;
  width: 0;
  border-width: .5rem .5rem 0 0;
  border-color: #0ba5b7 transparent transparent;
  border-style: solid solid none;
}

body.heap .more:hover {
  background-color: #098492;
}

body.heap .more:hover:before {
  border-color: #098492 transparent transparent;
}

body.heap>footer {
  max-width: 43rem;
  margin: 2rem auto;
  padding: 1rem 2.10526rem 0;
  border-top: 1px dotted #000;
  font-size: 0;
  line-height: 0;
}

body.heap>footer .copyright {
  display: block;
  font-size: .68rem;
  line-height: 1.618rem;
  margin: 2rem 0;
}

body.heap>footer nav {
  vertical-align: top;
  display: inline-block;
  min-width: 30%;
  padding: 0 1rem 0 0;
  font-size: .68rem;
  line-height: 1.618rem;
  overflow: hidden;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.heap>footer nav.Ñontacts a:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0 .25rem 0 0;
  color: #000;
}

body.heap>footer nav a {
  float: left;
  white-space: nowrap;
  clear: left;
}

body.heap>footer nav a.rss:before {
  content: '\e818';
}

body.heap>footer nav a.twitter:before {
  content: '\e815';
}

body.heap>footer nav a.github:before {
  content: '\e80f';
}

@media screen and (min-width: 58rem) {
  body.heap article header .likes {
    position: absolute;
    right: 100%;
  }
}

@media screen and (max-width: 42rem) {
  html:root {
    font-size: 16px;
  }

  body.heap .more {
    margin: 0 0 0 -2.10526rem;
    padding: 0 2.10526rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    width: 100%;
  }

  body.heap .more:before {
    display: none;
  }

  body.heap .config .add-article {
    display: none;
  }

  body.heap .page-list,
  body.heap form {
    display: none;
  }

  body.heap footer {
    margin-top: 0;
    border-top-style: none;
  }

  body.heap footer nav {
    width: 100%;
    margin: 0 0 1rem;
  }

  body.heap article .translations {
    display: block !important;
  }

  body.heap article .translations .language {
    width: auto;
    text-align: left;
  }

  body.heap article header .likes.disabled {
    background-color: #ccc;
    color: #fff;
  }

  body.heap article header .likes.disabled:hover {
    background-color: #b8b8b8;
    color: #fff;
  }

  body.heap article header .likes.disabled:hover:before {
    color: #fff;
  }

  body.heap article header .likes.liked,
  body.heap article header .likes {
    float: left;
    margin: 0 .5rem 0 0;
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #0ba5b7;
    vertical-align: middle;
    text-align: center;
    color: #fff;
  }

  body.heap article header .likes.liked:before,
  body.heap article header .likes:before {
    color: #fff;
  }

  body.heap article header .likes.liked:hover,
  body.heap article header .likes:hover {
    background-color: #098492;
    color: #fff;
  }

  body.heap article header .likes.liked:hover:before,
  body.heap article header .likes:hover:before {
    color: #fff;
  }

  body.heap article header .title,
  body.heap article header .tags {
    display: block;
  }

  body.heap article .user-menu,
  body.heap article .editor-menu {
    display: none;
  }
}